*.lst
*.class
*.project
*.classpath
*.metadata
*.sqlite3
*.jar
.stackdump
*.war
webProject/exam/target/*
jvmLearning/target/*
springLearning/spring-book-ch2/target/*
**dependency-reduced-pom.xml
*.png
JavaLearning/image/src/main/resources/qiniu.properties
machinelearn/machine-learning-ex1/ex1/token.mat
machinelearn/machine-learning-ex2/ex2/token.mat