*.lst
*.class
*.project
*.classpath
*.metadata
*.sqlite3
*.pyc
*.log
*.jar
.stackdump
*.war
*.hprof
*.index
*.threads
*.iml
webProject/exam/target/*
jvmLearning/target/*
springLearning/spring-book-ch2/target/*
**dependency-reduced-pom.xml
*.png
JavaLearning/image/src/main/resources/qiniu.properties

**token.mat
**hello.pdf
**output.html
**out.png
**test.png
*.prefs
machinelearn/machine-learning-ex7/ex7/ex7faces.mat
*ubyte.gz
