<?xml version="1.0" encoding="UTF-8"?>
<config>
	<chartType>pie</chartType>
	<shapeType>circle</shapeType>
	<factoryMethod>com.leon.artofpattern.factorymethod.DatabaseLoggerFactory</factoryMethod>
	<factoryMethodExercise>com.leon.artofpattern.factorymethod.exercise.JPGPicReader</factoryMethodExercise>
	<abstractFactoryMethod>com.leon.artofpattern.abstractfactory.SummerSkinFactory</abstractFactoryMethod>
	<abstractFactoryMethodExercise>com.leon.artofpattern.abstractfactory.exercise.IosFactory</abstractFactoryMethodExercise>
	<builderPattern>com.leon.artofpattern.builder.DevilBuilder</builderPattern>
	<builderExercisePattern>com.leon.artofpattern.builder.exercise.MemoryModle</builderExercisePattern>
	<adapterName>com.leon.artofpattern.adapter.OperationAdapter</adapterName>

	<bridgeImage>com.leon.artofpattern.bridge.JPGImage</bridgeImage>
	<bridgeImp>com.leon.artofpattern.bridge.LinuxImp</bridgeImp>
</config>